.casino-review-tab p {color: #555555;font-size: 14px;line-height: 30px;}
/*.casino-bonus .bonus-amount {margin-left: 15px;}*/
.casino-list .casino-img {margin-right: 10px;}
.main-nav .drop-down ul{right: 0;left: unset;}
.casino-review-tab * {text-align: left;}
.casino-review-tab *, .popular-casino h6{color: #555555;}
.casino-review-tab h4 {margin-top: 30px;margin-bottom: 0;font-weight: 600;}
