/.idea
/.vscode
/0data
/.env
/tmp
/vendor
en/.env.server
us/.env.server
no/.env.server
en/public/sitemap.xml
us/public/sitemap.xml
no/public/sitemap.xml
en/public/.htaccess
us/public/.htaccess
no/public/.htaccess
en/.htaccess
us/.htaccess
no/.htaccess
