@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 13/10),
only screen and (min-resolution: 100dpi) {
    #coin-box {
        position: absolute;
        bottom: 94px;
        right: 277px;
    }
}

@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 13/10),
only screen and (min-resolution: 120dpi) {
    #coin-box {
        position: absolute;
        bottom: 108px;
        right: 272px;
    }

    .boxgif {
        width: 210px;
    }

    .copyright-text {
        font-size: 12px;
    }


    .footer-menu li {
        font-size: 12px;
    }

    .center-button {
        position: absolute;
        background: #ffc107;
        bottom: 50%;
        left: 6%;
        right: 0;
        width: 220px;
        padding: 10px;
        border-radius: 5px;
        font-size: 15px;
    }

    .center-button:hover {
        position: absolute;
        background: #db1f19;
        bottom: 50%;
        left: 6%;
        right: 0;
        width: 245px;
        padding: 10px;
        border-radius: 5px;
        font-size: 15px;
        color: #fff;
    }

    /* .playgif {
        width: 165px;
    } */

    .video-container video {
        min-width: 100%;
        /* min-height: 100%; */
        width: 100%;
        /* height: auto; */
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (-o-min-device-pixel-ratio: 13/10),
only screen and (min-resolution: 150dpi) {
    #coin-box {
        position: absolute;
        bottom: 101px;
        right: 253px;
    }
    .boxgif {
        width: 160px;
    }

    .coin-img {
        width: 180px;
    }

    footer {
        margin-top: 30px;
    }

    .copyright-text {
        font-size: 10px;
    }


    .footer-menu li {
        font-size: 10px;
    }

    

    .center-button {
        position: absolute;
        background: #ffc107;
        bottom: 50%;
        left: 6%;
        right: 0;
        width: 196px;
        padding: 10px;
        border-radius: 5px;
        font-size: 13px;
    }

    .center-button:hover {
        position: absolute;
        background: #dc1f18;
        bottom: 50%;
        left: 6%;
        right: 0;
        width: 196px;
        padding: 10px;
        border-radius: 5px;
        font-size: 13px;
    }

    /* .playgif {
        width: 150px;
    } */

    .video-container video {
        min-width: 100%;
        /* min-height: 100%; */
        width: 100%;
        /* height: auto; */
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
